<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <img src="./../../images/logo.png" alt="" style="background-color: black;">
        <header>
            <img src="https://img2.freepng.ru/20180920/iiu/kisspng-google-chrome-portable-network-graphics-computer-i-chrome-svg-png-icon-free-download-295963-onli-5ba442ac7399b0.4332403515374916284735.jpg"
                alt="">
        </header>
        <nav>
            <div>Profile</div>
            <div>Messages</div>
        </nav>
        <main>
            Main content
        </main>
    </div>
</body>

</html>