.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: rgb(120, 223, 180);
    color: #fff;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: rgb(235, 205, 34);
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}